.env

# Gradle
.gradle/
**/build/
**/bin/

# Android Studio / IntelliJ
.idea/
*.iml

# Local machine configuration
local.properties

# Native build output
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Android captures
captures/

# PlatformIO
/controller/esp32/.pio/

/controller/esp32/.vscode/.browse.c_cpp.db*
/controller/esp32/.vscode/c_cpp_properties.json
/controller/esp32/.vscode/launch.json
/controller/esp32/.vscode/ipch/


# draw.io temporary/backup files
*.drawio.bkp
*.drawio.dtmp
# draw.io files
*.drawio