.env

# Gradle
.gradle/
**/build/
**/bin/

# Android Studio / IntelliJ
.idea/
*.iml

# Local machine configuration
local.properties

# Native build output
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Android captures
captures/

# draw.io temporary/backup files
*.drawio.bkp
*.drawio.dtmp
# draw.io files
*.drawio